<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration file for a super-build script
-->
<superbuild>

  <!-- The version of the bundle being compiled -->
  <version>3.13</version>
  
  <!-- The name of the bundle being compiled -->
  <name>BeepBeep 3 Palettes</name>
  
  <!-- The author of the bundle being compiled -->
  <author>Sylvain Hallé</author>
  
  <!-- A comma-separated list of folders which must be compiled at the
       second phase -->
  <phase2>Jdbc</phase2>
</superbuild>
<!-- :tabWidth=2:mode=ant: -->