<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration file for AntRun.
  
  Use this file to override the default properties contained
  in build.xml. For example, to override the build.jar.filename
  property (which sets the name of the compiled jar file), add
  an element
  
  <jar>
    <filename>foo</filename>
  </jar>
  
  inside the <build> element.
  
  **Caveat emptor:** in some cases, changing this file and running ant
  again will result in Ant using a cached version of the old file! Run
  "ant dummy" to make sure that the correct data is being read. Otherwise
  you might need to run "ant clean" and start over.
-->
<build>
  <!-- Uncomment any of these if you want to override the build
       script's default values -->

  <!-- The project's name -->
  <name>Serialization</name>
  
  <!-- The project's version number -->
  <version>3.14</version>
  
  <!-- The project's package (with a trailing slash) -->
  <package>ca/uqac/lif/cep/serialization/</package>
  
  <!-- The project's author. Currently this only
  shows up in the footer of the Javadoc documentation. -->
  <author>Sylvain Hall&#233;</author>
  
  <!-- The project's main class -->
  <mainclass>ca.uqac.lif.cep.serialization.Main</mainclass>
  
  <!-- Target JDK version for compilation -->
  <targetjdk>11</targetjdk>
  
  <!-- Installation folders -->
  <srcdir>src</srcdir>
  <libdir>../lib</libdir>
  <bindir>bin</bindir>
  <docdir>doc</docdir>
  <depdir>dep</depdir>
  <test>
    <srcdir>src</srcdir>
    <bindir>bin</bindir>
    <filenamepattern>**/*Test.*</filenamepattern>
  </test>
  
  <!-- Output jar -->
  <jar>
    <filename>../jars/serialization</filename>
    <withdoc>false</withdoc>
  </jar>
  
  <!-- All test reports merged into one -->
  <report>
    <junitdir>../tests</junitdir>
  </report>
  
  <!--
    Write JAR dependencies here.
  -->
  <dependencies>
    <dependency>
      <!--
      BeepBeep
      -->
      <name>BeepBeep</name>
      <classname>ca.uqac.lif.cep.Processor</classname>
      <files>
      	<jar>https://github.com/liflab/beepbeep-3/releases/download/v3.14/beepbeep-3.14.jar</jar>
      </files>
      <bundle>false</bundle>
    </dependency>
    <project>BeepBeep 3</project>
  	<dependency>
    <!-- Azrael. Generic serialization library -->
      <name>Azrael</name>
      <classname>ca.uqac.lif.azrael.ObjectPrinter</classname>
      <files>
	<jar>https://github.com/sylvainhalle/Azrael/releases/download/v2.2/azrael-core-2.2.jar</jar>
      </files>
      <bundle>false</bundle>
    </dependency>
    <dependency>
      <!-- Azrael JSON. Generic serialization library -->
      <name>Azrael JSON</name>
      <classname>ca.uqac.lif.azrael.json.JsonReader</classname>
      <files>
	<jar>https://github.com/sylvainhalle/Azrael/releases/download/v2.2/azrael-json-2.2.jar</jar>
      </files>
      <bundle>true</bundle>
    </dependency>
  </dependencies>
</build>
